body {

// Color

--coral-pink: rgba(255, 111, 97, 1);
--dark-coral-pink: rgb(186, 80, 70);
--light-coral-pink: rgba(255, 110, 97, 0.61);
--raisin-black: rgba(36, 36, 36, 1);
--dark-raisin-black: rgba(36, 36, 36, 1);
--light-raisin-black: rgba(36, 36, 36, 1);
--cambridge-blue: rgb(146, 209, 212);
--dark-cambridge-blue: rgb(136, 194, 197);
--light-cambridge-blue: rgb(154, 223, 227);
--jungle-green: rgba(39, 174, 96, 1);
--dark-jungle-green: rgba(39, 174, 96, 1);
--light-jungle-green: rgba(39, 174, 96, 1);
--khaki: rgba(240, 234, 214, 1);
--dark-khaki: rgb(219, 215, 201);
--light-khaki: rgb(244, 241, 230);
--white:rgba(255, 255, 255, 1);


// Headings

    --h1-size: 1.125em;
	--h2-size: 1.05em;
	--h3-size: 1em;
	--h4-size: 0.9em;
	--h5-size: 0.85em;
	--h6-size: 0.85em;
    --h1-weight: 700
	--h2-weight: 600;
	--h3-weight: 500;
	--h4-weight: 500;
	--h5-weight: 500;
	--h6-weight: 400;
    --h1-variant: normal;
	--h2-variant: normal;
	--h3-variant: normal;
	--h4-variant: normal;
	--h5-variant: small-caps;
	--h6-variant: small-caps;
	--h1-style: normal;
	--h2-style: normal;
	--h3-style: normal;
	--h4-style: normal;
	--h5-style: normal;
	--h6-style: normal;

    //
}

.theme-light {
    --accent-hue: 250;
    --accent-saturation: 0%;
    --accent-lightness: 0%;


    --background-primary: var(--light-cambridge-blue);
    --background-primary-alt: var(--cambridge-blue);
    --background-secondary: var(--cambridge-blue);
    --background-secondary-alt:var(--dark-cambridge-blue);
    --background-modifier-hover: var(--light-cambridge-blue);
    --background-modifier-active-hover: var(--light-cambridge-blue);
    --background-modifier-border: var(--light-cambridge-blue);

}